[Desktop Entry]
Name=Tiling
Comment=Manage the active hint, current & per-workspace auto-tiling
Type=Application
Exec=wmde-applet-tiling
Terminal=false
Categories=WMDE;
Keywords=WMDE;Applet;Tiling;Hint;Workspace;
Icon=fun.wmde.AppletTiling-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
