[Desktop Entry]
Name=Launcher Button
Comment=Open the launcher to search applications and run commands
Type=Application
Exec=wmde-panel-button fun.wmde.Launcher
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Launcher;Runner;
Icon=fun.wmde.PanelLauncherButton
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-OverflowPriority=10
