[Desktop Entry]
Name=Input Sources
Comment=Switch between input sources
Type=Application
Exec=wmde-applet-input-sources
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Input;Source;
Icon=fun.wmde.AppletInputSources-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-HostWaylandDisplay=true
X-OverflowPriority=10
