[Desktop Entry]
Name=App Library Button
Comment=Open the application library for launching installed applications
Type=Application
Exec=wmde-panel-button com.system76.CosmicAppLibrary
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;App;Library;Tray;
Icon=fun.wmde.PanelAppButton
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-OverflowPriority=10
