[Desktop Entry]
Name=Date, Time & Calendar
Comment=Display the current time in the panel with a calendar popup
Type=Application
Exec=wmde-applet-time
Terminal=false
Categories=WMDE;
Keywords=WMDE;Applet;Date;Time;Calendar;
Icon=fun.wmde.AppletTime-symbolic
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
# No shrink priority, as this applet is always visible when configured
